@tailwind base;
@tailwind components;
@tailwind utilities;

#style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(117, 177, 255, 0.3);
  background-color: #f5f5f5;
}

#style-4::-webkit-scrollbar {
  width: 0px;
  background-color: #6600eb;
}

#style-4::-webkit-scrollbar-thumb {
  background-color: #6a5fff;
  border: 0px solid #555555;
}
